*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}
header{
  background-color:  #1b2127;
  height: 7rem;
}


/* FUENTE-ICON */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?s3rr73');
  src:  url('../fonts/icomoon.eot?s3rr73#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?s3rr73') format('truetype'),
    url('../fonts/icomoon.woff?s3rr73') format('woff'),
    url('../fonts/icomoon.svg?s3rr73#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-github:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e900";
}
.menuH{
  display: none;
  background-color:  #1b2127;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  color: white;
  top: 5px;
  left: 5px;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  z-index:4;
}

.containerhead{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 100%;
  max-width: 100rem;

}
.containerhead > img{
  width: 20rem;
}

.containerhead ul{
  display: flex;
  list-style: none;
}
.containerhead li{


  margin: 0 0.3rem;
}
.containerhead a{
  color: white;
  margin: 0 2rem;
  font-size: 1.6rem;
  text-decoration: none;
}
/* Main */
/* Section 1 - Hero */
main{
  width: 100%;
  margin: 0 auto; 
  background-color:  #fafafa;
  padding: 0 1.4rem;
}
h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}
.hero{
  background-color:  #1b2127;
  margin: 0 auto;
}
.hero div{
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}
.container-Hero img{
  width: 500px;
  height: 300px;
  object-fit: cover;
}
.container-Hero h1{
  color: white;
  font-size: 4rem;
  line-height: 6rem;
  letter-spacing: 0.02rem;
  text-transform: capitalize; 
  margin: 0;
}
#l strong{
  color: #026fff;
}
/* Portafolio */
strong{
  color: black;
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
}
.portfolio{
  max-width: 100rem;
  margin: 0 auto;
  background-color:#fafafa;
}
.article-portafolio{
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: solid black 0.1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  flex-wrap: wrap;
}
h2{
  color: #026fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -0.05rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  padding: 4rem  0;
}
.content-portafolio{
  width: 50%;
  
}
.content-portafolio h3{
  font-size: 3rem;
  margin-bottom: 0.1rem;
}
.content-portafolio h6{
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.fecha{
  font-size: 1.5rem;
  margin-bottom: 1rem;

}
.puedes{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.content-portafolio p{
  font-size: 1.5rem;
}
.container-image{
  width: 50%;
}
.container-image img{
  width: 100%;
  height: auto;
}
/* Photography */
.photography{
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.article-Photo{
  height: 40.8rem;
  width: 31rem;
  background-color: #f4fbff;
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem;

}
.container-texto{
  background-color: white;
  text-align: center;
  width: 27rem;
  padding: 2rem 2rem 3rem 2rem;
  height: 24.5rem;
  margin: 0 auto;
  position: relative;
  top: -4rem;

}
.article-Photo img{
  width: 31rem;
  height: 18rem;
}
.article-Photo p{
  margin: 2rem 0;
  font-size: 1.15rem;
}
.article-Photo a {
  text-decoration: none;
  padding: 3px 20px;
  border: 1px solid #026fff;
  color: #026fff;
  border-radius: 5px;
}
.Title-photo{
  max-width: 100rem;
  margin: 0 auto;
}
/* Datos */
.Datos{
  background-color: #026fff;
  height: auto;
}

.container{
  max-width: 100rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.Inputs label{
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  margin-left: 15px;

}
.Inputs span{
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 2rem;
  color: white;
  letter-spacing: -0.1rem;
}
.Inputs .text{
  width: 21rem;
  height: 3rem;
  border: gray solid 0.1rem;
  border-radius: 0.5rem;
  padding: 5px 25px;
  background-image: url('D:/C_D/Escuela de desarrollo web/Curso desarrollo web Online/desarrollo-web-portafolio-9/Imagenes y recursos/desarrollo-web-portafolio/images/envelope.svg');
  background-repeat: no-repeat;
  background-size: 1.8rem;
  background-position-x: 0.25rem ;
  background-position-y: 0.4rem ;
}
.Inputs .submit{
  width: 8rem;
  height: 2rem;
  background-color: transparent;
  color: white;
  border: solid white 0.1rem;
  border-radius: 0.2rem;
  margin-top: 1rem;
  margin: 1rem auto 0 auto;
  
}
.social-link{
  display: inline-block;
  margin: 0px 15px;
  width: 50px;
  height: 50px;
  font-size: 50px;
  text-decoration: none;
  color: white;
  

}

/* Footer */
footer{
  background-color:  #1b2127;
  height: 5rem;

}
.container-foot{
  color: white;
  max-width: 100rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.3rem;
}
.dere img {
  width: 10rem;
  height: 4rem;
}
.dere{
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.izq a{
  text-decoration: none;
  color: white;
}
.izq{
  padding-right: 1rem ;
}

/* MEDIA QUERIS */
@media screen and (max-width:1024px){
  .hero{
    height: auto;
  }
  .hero img{
    position: absolute;
    width:100%;
    z-index: 0;
    height: auto;

  }
  h1{
    z-index: 1;
    padding-left: 10px;
  }
  .container-Hero{
    overflow: hidden;
    height: auto;
    position: relative;
    padding: 50px 0;
  }
}
@media screen and (max-width:767px){
  header{
    display: block;
    height: auto;
  }
 
  .containerhead{
    display: block;
    text-align: center;
    height: auto;
  }
  .header__nav{
    display: flex;
    justify-content: center;
  }
  .header__nav a{
    font-size: 1.6rem;
  }
  .header__nav li{
    height: 3rem;
  }
  .article-portafolio{
    display: block;
   /*  max-width: 995px; */

  }
  .content-portafolio{
    width: auto;
    height: initial;
  }
  .container-image img{
    max-width: 450px;
    text-align: center;
  }
  .container-image{
    text-align: center;
    width: auto;
    margin-top: 1rem;
  }
  html{
    font-size: 55%;
  }
}
@media screen and (max-width:605px){
  
  .photography{
    display: block;
    font-size: 14px;
  }
  .article-Photo{
    width: 100%;
    height: auto;
    margin: 1rem 0;
  }
  .article-Photo .container-img img{
    width: 100%;
    height: 32rem;
  }
  .container-texto{
    width: 80%;
    height: auto;
  }
  .container-texto a{
    position: relative;
    top: 1.2rem;
  }
  .container-texto p{
    font-size: 10px;
   }

  .container{
    display: block;
    height: auto;
  }
  
  .Inputs label{
    align-items: center;
    margin-bottom: 18px;
    margin-left: 0;
  }
  .Inputs span{
    margin-top: 10px;
    position: relative;
    left: -10px;
  }
  .group-input{
    margin: 0px 0 4px 0;
  }
  .social-link{
    margin-bottom: 10px;
  }
  .RedSocial{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .Inputs.submit{
    margin-bottom: 5px;
  }


}
@media screen and (max-width:480px){
  .header__nav ul{
    display: initial;
  }
  .header__nav ul li{
    height: 100px;
  }
  .header__nav ul li a{
    text-decoration: underline;
    font-size: 2.5rem;
  }
  .menuH{
    display: block;
  }
  .header__nav{
    display: block;
    position: fixed;
    top: 0;
    left: -100vw;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,255, .7) ;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
  }
 
/*   .content-portafolio{
    font-size: 15px;
  }
  .content-portafolio .description{
    font-size: .8em;
  }
  .content-portafolio .puedes{
    font-size: 1em;
  }
  .content-portafolio.fecha{
    font-size: 1em;
  } 
  .content-portafolio h6{
    font-size: 1.2em;
  }
  .content-portafolio h3{
    font-size: 1.7em;
  } */
  html{
    font-size: 52%;
  }
  .article-Photo .container-img img{
    width: 100%;
    height: auto;
  }
 .container-texto p{
  font-size: 11px;
 }
 footer{
   height: auto;
 }
 .container-foot{
  display: block;
  height: auto;
 }
 .dere{
   padding-left:0 ;
   height: auto;
   justify-content: center;
 }
 .izq{
   height: auto;
   display: flex;
   justify-content: center; padding-right:0 ;
 }
 .izq p{
  margin-bottom: 10px;
 
 }

.container-Hero h1{
  z-index: 1;
  font-size: 3.2rem;
}
.container-Hero{
  padding: 45px 0;
}
 
}
@media screen and (max-width:320px){

}
.isactive{
  left: 0;
}